# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Logs & outputs
logs/
dvclive/

# Data & models (handled by DVC)
data/
model/
reports/
DVC_STORAGE/

# OS junk
.DS_Store
Thumbs.db

# Secrets
.env

notebooks/

